{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Usuario
{% endblock %}

{% block content %}
    {% if username %}
        <h1>Bienvenido, {{ username | capitalize }}</h1>
    {% endif %}

    <h2>Prueba para FM</h2>

    <img src="{{ url_for('static', filename='images/fm/espectro_iteracion_1.png') }}">
    <img src="{{ url_for('static', filename='images/fm/espectro_iteracion_2.png') }}">
    <img src="{{ url_for('static', filename='images/fm/espectro_iteracion_3.png') }}">
    <img src="{{ url_for('static', filename='images/fm/espectro_iteracion_4.png') }}">
    <img src="{{ url_for('static', filename='images/fm/espectro_iteracion_5.png') }}">
    <h3>{{data1_fm}}</h3>
{% endblock %}