{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Usuario
{% endblock %}

{% block content %}
    
    <center><h1 style = "color: #dcdcdc;">ALGORITMO DE DETECCION DE TRANSMISIONES NO DESEADAS</h1></center>
    <center><img  src="{{ url_for('static', filename='images/hello/1.jpg') }}" width="260 px" height="260 px" ></center>
    {% if username %}
         <h3 >Bienvenido, {{ username | capitalize }}, en esta pestaña encontraras toda la guia para el uso de esta aplicacion web, asi como el funcionamiento y tecnologia empleada para el desarrollo de este proyecto</h3> 
    {% endif %}
    <h4></h4>

    

    <div class="container">
        <h2>Crea una nueva tarea</h2>

        {{ wtf.quick_form(todo_form) }}
    </div>

    <ul class="list-group">
        {% for todo in todos %}
            {{ macros.render_todo(todo, delete_form) }}
        {% endfor %}
    </ul>
{% endblock %}